<ion-header>
  <ion-navbar>
    <ion-title>
      Admin. archivos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label (click)="retroceder()">..</ion-label>
  </ion-item>
  <ion-list *ngFor="let directorio of directorios">
      <ion-item *ngIf="directorio.isDirectory" (click)="abrir(directorio)">
          <ion-icon name='folder' item-start ></ion-icon>
          <ion-label>{{directorio.name}}</ion-label>
      </ion-item>
  </ion-list>
  <ion-list *ngFor="let directorio of directorios">
    <ion-item *ngIf="directorio.isFile">
        <ion-icon name='document' item-start ></ion-icon>
        <ion-label>{{directorio.name}}</ion-label>
    </ion-item>
</ion-list>

</ion-content>