<ion-header>
  <ion-navbar>
    <ion-title>
      Admin. archivos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label (click)="retroceder()">..</ion-label>
  </ion-item>
  <ion-list>
      <ion-item *ngFor="let directorio of directorios" (click)="abrir(directorio)">
          <ion-icon name='folder' item-start *ngIf="directorio.isDirectory"></ion-icon>
          <ion-icon name='document' item-start *ngIf="directorio.isFile"></ion-icon>
          <ion-label>{{directorio.name}}</ion-label>
      </ion-item>
  </ion-list>

</ion-content>